.logo {
    height: 55px;
    width: 60px;
    max-width: 100%;
    justify-content: center;
    vertical-align: center;
}

.logout_btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.login_btn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.login_btn a{
    text-decoration: none;
    color: #054287;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.authBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.linkIcon {
    color: rgb(0, 0, 0);
}

.header {
    width: 100% !important;
}