.sidebar {
    position: fixed;
    top:60px;
    height: 500px;
    width: 100px;
    text-align: center;
    vertical-align: center;
    grid-area: nav;
    background-color: #42cd6a;
    line-height: 1.8em;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar_setting {
    line-height: 4rem;
}

.link {
    margin-top: 5px
}