.profile {
    padding-bottom: 40px
}

.numbers {
    font-size: 18px;
}

.num {
    margin-right: 3px;
    cursor: pointer;
}

.pagination_span {
    max-width: 200px;
}

.ava_photo {
    height: 250px;
    width: 250px;
}

.profile_name {
    color: #0b0e07;
    line-height: 18px;
    font-size: 17px
}

.description {
    font-style: italic;
}

.location {
    font-weight: bolder;
}

.selected {
    font-weight: bolder;
}

.btn_follow {
    background: #50d665;
    background: -webkit-linear-gradient(322deg, #50d665 0%, #3dc673 100%);
    background: linear-gradient(322deg, #50d665 0%, #3dc673 100%);
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #3a3737;
}

.btn_follow:active {
    position: relative;
    top: 1px;
}



.btn_unfollow {
    background: #727070;
    background: -webkit-linear-gradient(133deg, #b7b3b7 0%, #c3c1c3 100%);
    background: linear-gradient(133deg, #9b969b 0%, #c3c1c3 100%);
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #3a3737;
}

.btn_unfollow:active {
    position: relative;
    top: 1px;
}

.btn_pagination {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12.5px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #55677d;
    background-color: #dfe6ed;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:hover {
    opacity: 0.88;
}
.btn:active {
    line-height: 32px;
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}